thead td {
  background-color: lightslategray;
  color: white;
  height: 30px;
  line-height: 50px;
  font-weight: bold;
  padding-left: 8px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: lightslategray;
  color: aliceblue;
}

tr td {
  padding-left: 8px;
}
